<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<b><p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</p></b>

<div th:if="${not #lists.isEmpty(books)}">
    <hr/>
    <b>Книги:</b>

    <div th:each="book : ${books}">
        <a th:style="${book.isExpired == true ? 'color: red' : 'color: black'}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
    </div>
</div>

<div th:if="${#lists.isEmpty(books)}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<hr/>
<br/>

<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Назад"/>
</form>

</body>
</html>